body, html {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

.background__container {
    filter: brightness(60%);
    z-index: -1;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("https://wallpaperaccess.com/full/54488.jpg");
}

.form__container {
    background-color: rgba(0, 0, 0, 0.733);
    border-radius: 5px;
    height: 700px;
    width: 20%;
    display: flex;
    margin-left: 38%;
    margin-top: 11.5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.form__top__text {
    color: white;
}
