.page_container {
    background-color: black;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    /* margin-top: 20%; */
}

.users__profiles {
    /* background-color: blue; */
    display: flex;
    /* z-index: 1; */
    /* position: absolute; */
    justify-content: space-around;
    align-items: center;
    align-content: center;
    justify-items: center;
    flex-direction: row;
    padding-top: 21%;
    margin-right: 25%;
    margin-left: 25%;
}

.add__profile {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.add__profile input {
    text-align: left;
    font-size: 12pt;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 18px;
    width: 350px;
    background-color: rgb(66, 63, 63);
    color: white;
}

.add__profile button {
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    color: white;
    background-color: rgb(0, 141, 0);
}

.add__profile button:hover {
    cursor: pointer;
    background-color: rgb(0, 172, 0);
}

.placeholder {
    color: white;
}

.profile {
    color: white;
    text-align: center;
    justify-items: center;
}

.profile__img {
    height: 200px;
    width: 200px;
    /* transition: 0.5s ease-in-out; */
}

#WOOO:hover {
    /* background: transparent; */
    border: 2.5px solid white;
    cursor: pointer;
    /* transform: scale(1.05, 1.05);
    transition: 0.5s ease-in-out; */
}

.profile-buttons {
    border: none;
    background: none;
    /* background-image: url(); */
    transform: scale(1.2);
    margin-right: 5%;
}

.submit-profile-edit {
    border: none;
}

#WOOO {
    height: 200px;
    width: 200px;
    border: none;
    background-image: url(https://i.pinimg.com/originals/e3/94/30/e39430434d2b8207188f880ac66c6411.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.add__profile__btn {
    border: none;
    height: 150px;
    width: 150px;
    background: none;
    margin-bottom: 6%;
}

.add__profile__btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.add__profile__icon {
    background-color: rgb(87, 87, 87);
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.add__profile__icon:hover {
    background-color: rgb(129, 129, 129);
}

.editProfileBtn {
    color: white;
    transform: scale(1.5);
    padding-left: 15%;
}

.deleteProfileBtn {
    color: rgb(214, 0, 0);
    transform: scale(1.5);
    /* margin-right: -15%; */
}

.editProfileBtn:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.65);
}

.deleteProfileBtn:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.55);
}

.edit__profile button {
    color: white;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: green;
}

.edit__component {
    width: 11.5%;
    position: absolute;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-left: -1.5%;
}

.profile__errors {
    margin-left: 45%;
}
