.page_container {
    background-color: black;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    /* margin-top: 20%; */
}

.users__profiles {
    /* background-color: blue; */
    display: flex;
    /* z-index: 1; */
    /* position: absolute; */
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 21%;
}

.placeholder {
    color: white;
}

.profile {
    color: white;
}

/* .profile button {
    border: none;
    background: none;
} */

.editProfileBtn {
    color: white;
    transform: scale(1.5);
}

.deleteProfileBtn {
    color: rgb(214, 0, 0);
    transform: scale(1.5);
}

.editProfileBtn:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.65);
}

.deleteProfileBtn:hover {
    cursor: pointer;
    color: red;
    transform: scale(1.65);
}
