.title {
    color: white;
    text-decoration: underline;
}

.title h2 {
    font-size: 28pt;
}

.my__lists {
    margin-left: 10%;
}

.deleteListBtn, .editProfile_Btn{
    margin-left: 2.5%;
    border: none;
    background: none;
}

.add__list__btn {
    transform: scale(1.5);
    border: none;
    background: none;
    color: rgb(190, 190, 190);
}

.add__list__btn:hover {
    cursor: pointer;
    color: white;
}

.deleteListBtn {
    transform: scale(1.1);
    color: red;
}

.deleteListBtn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.profile__errors {
    margin-top: 2%;
}
